.main_container{
    display: flex;
}

.sidebar{
    background-color: var(--background-color);
    color: white;
    height: 100vh; 
    width: 250px;
    line-height: 25.6px;
    margin: 16px 0px 16px 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-sizing: border-box;
  }
  .routes{
      color: white;
  }
  .top_section{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 15px;
      height: 58px;
      color: #344767;
  }
  .top_section h1{
     height: 20px;
  }
  .logo{
      font-size: 1.2rem;
      color:#344767;
  }

  .link{
      white-space: nowrap;
      transition: all 0.2s ease-in-out ;
      /* background-color: white; */
    display: flex;
    color: white;
    /* margin-left: 1rem; */
    text-decoration: none;
    padding: 0.8rem 0.8rem;
    white-space: nowrap;
    align-items: center;
    transition: all 0.2s ease-in-out; 
  }
  .active{
    font-weight: 600;
    box-shadow: 0 20px 27px 0rgba(0,0,0,.05);
    border-radius: 0.5rem;
    background-color: white;
}
 
  /* .link:hover{
    
     background:white; 
     color: white;
  } */
  
  .link_text{
    
        list-style: none;
        text-decoration: none;
        color: #344767;
  }
 
  .icon{
    height: 32px;
    display: flex;
    width: 32px;
    background-image: linear-gradient(310deg,#cb0c9f,#cb0c9f);
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0.5rem;
    margin-right: 0.5rem!important;

    /* margin left for the mobile view  */
    margin-left: 4px;
  }
  .marginImportant{
    margin-left: 1rem;
  }
  .paddingImportant{
    padding: 0.8rem 0.2rem;
  }
  @media screen and (max-width: 600px) {
    
  }
